@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .clip-custom {
      position: relative;
      clip-path: polygon(
         0% 0%,
         80% 0%,
         100% 20%,
         100% 70%,
         100% 100%,
         20% 100%,
         0% 80%,
         0% 0%
      );
   }

   .clip-custom::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.15);
      z-index: -2;
   }

   .clip-custom::after {
      content: "";
      position: absolute;
      inset: 0;
      background: black;
      z-index: -1;

      clip-path: polygon(
         1% 0.5%,
         79.7% 0.5%,
         99.5% 20.3%,
         99.5% 100%,
         99.5% 99.5%,
         20.3% 99.5%,
         0.5% 79.7%,
         0.5% 0.5%
      );
      transition: clip-path 500ms;
   }

   .clip-custom2 {
      clip-path: polygon(
         20% 0,
         100% 0,
         100% 30%,
         100% 80%,
         80% 100%,
         1% 100%,
         0% 70%,
         0 20%
      );
   }
}
